body {
  background-color: #CBC2E9;
  margin: auto;
}

.mainNav {
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 100%;
  top: 0;
}

.mainNav a, li{
  flex:auto;
  line-height: 3.0;  /* 3x current font size height */
  vertical-align: middle;
}

.mainNav li {
  color: white;
  background-color: #8056A4;
  height: 5%;
  text-align: center;
}

.mainNav li:hover{
  background-color: #2F0F4B;
}

.mainContent{
  width: 65%;
  margin: auto;
  background-color: #CBC2E9;
}

section{
  margin-top: 15px;
  box-sizing: border-box;
  border: 4px #F1EBF6 solid;
}

div {
  background-color: white;
  text-align: center;
  padding: 1em;
}

li {
  list-style-type: none;
}

td {
  width: 50%;
  text-align: center;
  padding: 1em;
}

.iconImg{
  height:auto;
  width:20%;
  display: block;
}
